/* Base styles */
html,
body {
    background: url('resources/theme_ntp_background.png') top center repeat;
    height: 100vh;
    margin: 0;
    max-height: 100vh;
    overflow-y: hidden;
}

/* Container styles */
.logo-container,
.search-container,
.widget-container {
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.2));
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 680px;
    width: 100%;
}

.logo-container {
    margin-top: 225px;
    margin-bottom: 30px;
}

.search-container {
    margin-top: 20px;
}

.widget-container {
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 22px;
    margin-top: 20px;
    padding: 10px;
}

/* Form and interactive elements */
.search-container form {
    border: 1px solid #dcdcdc;
    border-radius: 22px;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.search-container input[type="text"],
.search-container button {
    border: none;
    height: 46px;
    margin: 0;
    padding: 10px 16px;
}

.search-container input[type="text"] {
    border-radius: 0;
    flex-grow: 1;
    height: 26px;
}

.search-container input[type="text"]:focus {
    outline: none;
}

.search-container button {
    background-color: #f8f8f8;
    transition: background-color 0.2s;

    &:hover {
        background-color: #e6e6e6;
    }

    &:active,
    &:focus {
        background-color: #dcdcdc;
        outline: none;
    }
}

/* Widget specific styles */
.widget-container a,
.widget-container button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    overflow: visible;

    width: 85px;
    height: 85px;
}

.widget-container .widget {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 0;
}

.widget-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    image-rendering: crisp-edges;
}

.widget-icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.dropdown-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    order: 1;
    /* Animate button */
    transform: scale(1);
    transition: transform 0.3s ease;
}

.dropdown-button img {
    display: block;
}

/* Delete mode toggle and icons */
.toggle-delete-mode {
    position: absolute;
    border-radius: 5px;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    z-index: 10;
}

.delete-icon {
    background-color: rgb(249, 173, 160);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    height: 25%;
    width: 25%;
    min-width: 25%;
    line-height: 20px;
    position: absolute;
    top: -2px;
    right: -5px;
    text-align: center;
    box-sizing: border-box;
    padding: 0; 
    border: none;
    font-weight: bold;
    z-index: 3;
}

.delete-mode .delete-icon {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

/* Animations */
@keyframes clickEffect {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }
}

.clicked {
    animation: clickEffect 0.3s ease;
}